<%= cl_image_tag("ydocv9aodzuv7sau2s4z",
      width: 400, height: 300, crop: :fill) %>

<div class="container">

<p><%= link_to 'Add list', new_list_path, class:'btn btn-primary'%></p>

  <h1>Your movie lists</h1>

  <% @lists.each do |list| %>
    <div class="list">
      <h3><%= link_to list.name, list_path(list) %></h3>
      <%= link_to image_tag(img, width: 500), list_path(list)%>
    </div>
  <% end  %>

</div>
